header {
    background: #ff6600;
    padding: 15px;
    color: #fff;

    ul {
        display: flex;

        li {
            cursor: pointer;
            padding: 0px 10px;
            &.active {
                font-weight: bold;
            }
            &:hover {
                color: #000;
            }

            &.login {
                position: absolute;
                right: 0px;
            }
        }
    }
}
