<table>
    <tr *ngFor="let story of news; let index=index">
        <td>{{index+1}}</td>
        <td>Vote</td>
        <td>
            <div class="news-data">
                <div>
                    <a href="">{{story.title}}</a>
                    <a>()</a>
                </div>
                <div>
                    <span>{{story.score}} points by {{story.by}} 54 min ago</span>
                    <span>hide</span>
                    <span>{{story.descendants}} comments</span>
                </div>
            </div>
        </td>
    </tr>
</table>