<div class="pagination-control">
    <span>Showing <b>{{newsService.skip+1}}</b> to <b>{{newsService.top}}</b> of <b>{{newsService?.stories?.length}}</b> {{storyType}} Stories</span>
    <div>
        <label for="pages">Choose a page:</label>
        <select name="pages" (change)="loadNews($event.target.value, storyType)">
            <option *ngFor="let page of newsService.pages" value="{{page}}">{{page}}</option>
        </select>
    </div>
</div>

<table *ngIf="!isLoading; else loader">
    <tr *ngFor="let story of news; let index=index">
        <td><b>{{newsService.skip+index+1}}.</b></td>
        <td>
            <div class="news-data">
                <div>
                    <a href="{{story.url}}" [innerHTML]="story.title"></a>
                    <a href="from?site={{story.domain}}">({{story.domain}})</a>
                </div>
                <div class="metadata">
                    <span>
                        <ng-template [ngIf]="story.type == 'story'"><b>{{story.score}}</b> points by <b>{{story.by}}</b></ng-template>{{story.timesAgo}}
                    </span>
                    <span *ngIf="story.type == 'story'">hide</span>
                    <span *ngIf="story.type == 'story'"><b>{{story.descendants}}</b> comments</span>
                </div>
            </div>
        </td>
    </tr>
</table>
<ng-template #loader>
    Loading..
</ng-template>